{% extends 'base.html' %}

{% block title %}Блог{% endblock %}

{% block content %}
    <h2>Блог</h2>
    <div class="row">
        {% for post in posts %}
            <div class="post col-md-12">
                <h3><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
                <p>{{ post.text|truncatewords:30 }}</p>
                <p>Автор: {{ post.author }}</p>
                <p>Дата публикации: {{ post.published_date }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
