{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.text }}</p>
    <p><strong>Автор:</strong> {{ post.author }}</p>
    <p><strong>Дата публикации:</strong> {{ post.published_date }}</p>
    <p><strong>Дата обновления:</strong> {{ post.updated_date }}</p>

    <h3>Комментарии</h3>
    <ul>
        {% for comment in post.comments.all %}
            <li>
                <p><strong>{{ comment.author.get_full_name }}</strong>: {{ comment.text }} ({{ comment.date }})</p>
            </li>
        {% empty %}
            <li>Нет комментариев</li>
        {% endfor %}
    </ul>
{% endblock %}
